body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: black;
}

/* ----- Header background and logo ----- */
#header {
	background-color: black;
	border-bottom: solid 2px orange;
}

#logo {
	text-align: center;
}

#logo img {
	height: 5em;
	width: 5em;
	margin-top: 1.25em;
}

#logo p {
	color: white;
	font-size: 1.5em;
	font-family: fantasy;
	margin-top: 5px;
}
/* -------------------------------------- */

/* ----- Navigation bar ----- */
.navbar {
	text-align: center;
}

.navbar ul {
	display: inline-flex;
	list-style: none;
	color: white;
	font-size: 1.25em;
}

.navbar ul li {
	width: 100px;
	margin: 0px 10px 0px 10px;
	padding: 0px 10px 0px 10px;
}

.navbar a {
	text-decoration: none;
	color: white;
	font-size: 0.75em;
}

.navbar a:hover {
	color: orange;
	-webkit-transition: 0.5s;
  	transition: 0.5s;
}

#activePage, #activePage a {
	background-color: orange;
	border-radius: 5px;
	color: black;
}
/* -------------------------- */

/* ----- Banner ----- */
.banner {
	position: relative;
}

.banner img {
	filter: brightness(30%);
	height: 550px;
	width: 100%;
}

.bannerTitle {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 50%);;
	color: white;
	font-size: 3em;
}

.bannerContent {
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 50%);;
	font-size: 1.5em;
	text-align: center;
}
/* ------------------ */

/* ----- Sections ----- */
span {
	color: orange;
}

.section1 {
	margin-bottom: 50px;
}

.section1 .sectionTitle {
	color: white;
	margin-top: 50px;
	text-align: center;
	font-size: 4em;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.category-img {
	border: solid 2px orange;
    border-radius: 10px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 50%;
	transition: transform 0.2s;
}

.category-img:hover {
	filter: brightness(90%);
	-ms-transform: scale(1.1); /* IE */
    transform: scale(1.1);
}

.category-box {
	float: left;
    margin: 50px 0px 10px 0px;
    width: 50%;
}

.category-box p {
	text-align: center;
	color: white;
	font-size: 1.25em;
}

.suggested-img {
	border: solid 2px orange;
    border-radius: 10px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	width: 80%;
	transition: transform 0.2s;
}

.suggested-img:hover {
	filter: brightness(90%);
	-ms-transform: scale(1.1); /* IE */
    transform: scale(1.1);
}

.suggested-box {
	float: left;
    margin: 50px 0px 0px 0px;
	width: 33.33%;
}

.suggested-box p {
	text-align: center;
	color: white;
	font-size: 1.25em;
}

.section2 {
	padding-bottom: 50px;
}

.section2 .sectionTitle {
	color: white;
	margin-top: 50px;
	text-align: center;
	font-size: 4em;
}
/* -------------------- */

/* ----- Footer ----- */
footer {
	background-color: black;
	color: gray;
	padding: 20px;
	text-align: center;
}

.social-media-icons {
	display: block;
	margin-bottom: 25px;
}

.social-media-icons i {
	font-size: 1.5em;
	padding: 0px 20px;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube {
	color: gray;
}
/* ------------------ */

@media screen and (max-width: 600px) {
	.navbar ul {
		flex-direction: column;
		padding: 0px;
	}

	.navbar ul li {
		margin: 10px;
	}
	
	.bannerTitle {
		position: absolute;
		top: 10%;
		left: 50%;
		color: white;
		font-size: 2em;
	}

	.banner img {
		height: 400px;
	}

	.bannerContent {
		color: white;
		position: absolute;
		top: 20%;
		left: 50%;
		font-size: 1.5em;
		text-align: center;
	}

	.section1 .sectionTitle, .section2 .sectionTitle {
		font-size: 3em;
	}
	.sectionContent1 {
		flex-direction: column;
		padding-bottom: 50px;
	}

	.category-img {
		width: 75%;
	}

	.sectionContent2 {
		flex-direction: column;
	}

	.social-media-icons i {
		font-size: 1.2em;
	}

	.fa-facebook, .fa-instagram, .fa-twitter, .fa-youtube {
		color: gray;
	}
}