body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* ----- Header background and logo ----- */
#header {
	background-color: black;
}

#logo {
	text-align: center;
}

#logo img {
	height: 5em;
	width: 5em;
	margin-top: 1.25em;
}

#logo p {
	color: white;
	font-size: 1.5em;
	font-family: fantasy;
	margin-top: 5px;
}
/* -------------------------------------- */

/* ----- Navigation bar ----- */
#navbar {
	text-align: center;
}

#navbar ul {
	display: inline-flex;
	list-style: none;
	color: white;
	font-size: 1.25em;
}

#navbar ul li {
	width: 100px;
	margin: 0px 10px 0px 10px;
	padding: 0px 10px 0px 10px;
}

#navbar a {
	text-decoration: none;
	color: white;
	font-size: 0.75em;
}

#navbar a:hover {
	color: orange;
}

#activePage, #activePage a {
	background-color: orange;
	border-radius: 5px;
	color: black;
}
/* -------------------------- */

/* ----- Banner ----- */
.banner {
	position: relative;
}

.banner img {
	filter: brightness(30%);
	height: 550px;
	width: 100%;
}

.bannerTitle {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, 50%);;
	color: white;
	font-size: 3em;
}

.bannerContent {
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, 50%);;
	font-size: 1.5em;
	text-align: center;
}
/* ------------------ */

/* ----- Sections ----- */
span {
	color: orange;
}

.section1 {
	border: solid;
	background-color: black;
	height: 550px;
}

.section1 .sectionTitle {
	color: white;
	margin-top: 50px;
	text-align: center;
	font-size: 4em;
}

.sectionContent1 {
	display: flex;
  	flex-direction: row;
	margin-top: 50px;
}

.box {
	flex: 50%;
	text-align: center;
	margin: 0px 50px 0px 50px;
	background-color: gray;
	padding: 90px;
}

.section2 {
	border: solid;
	background-color: black;
	height: 550px;
}

.section2 .sectionTitle {
	color: white;
	margin-top: 50px;
	text-align: center;
	font-size: 4em;
}

.sectionContent2 {
	display: flex;
  	flex-direction: row;
	margin-top: 50px;
}

.box1, .box2, .box3, .box4 {
	flex: 2%;
	margin: 0px 20px 0px 20px;
	text-align: center;
	border: solid 1px red;
	background-color: gray;
	padding: 90px;
}
/* -------------------- */

/* ----- Footer ----- */
footer {
	background-color: black;
	color: gray;
	padding: 20px;
	text-align: center;
}
/* ------------------ */