body {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-color: black;
}

/* ----- Header background and logo ----- */
#header {
	background-color: black;
    border-bottom: solid 2px orange;
}

#logo {
	text-align: center;
}

#logo img {
	height: 5em;
	width: 5em;
	margin-top: 1.25em;
}

#logo p {
	color: white;
	font-size: 1.5em;
	font-family: fantasy;
	margin-top: 5px;
}
/* -------------------------------------- */

/* ----- Navigation bar ----- */
.navbar {
	text-align: center;
}

.navbar ul {
	display: inline-flex;
	list-style: none;
	color: white;
	font-size: 1.25em;
}

.navbar ul li {
	width: 100px;
	margin: 0px 10px 0px 10px;
	padding: 0px 10px 0px 10px;
}

.navbar a {
	text-decoration: none;
	color: white;
	font-size: 0.75em;
}

.navbar a:hover {
	color: orange;
	-webkit-transition: 0.5s;
  	transition: 0.5s;
}

#activePage, #activePage a {
	background-color: orange;
	border-radius: 5px;
	color: black;
}
/* -------------------------- */

/* ----- Banner ----- */
.banner video {
    object-fit: fill;
    filter: brightness(50%);
    height: 550px;
    width: 100%;
}
/* ------------------ */

/* ----- Products section ----- */
span {
    color: orange;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#sectionTitle-1, #sectionTitle-2, #sectionTitle-3 {
    color: white;
	margin-top: 50px;
	text-align: center;
	font-size: 4em;
}

.product-section-1, .product-section-2, .product-section-3 {
    color: white;
	margin-bottom: 50px;
}

/* Row 1 for Men category*/
.box-row-1 {
    float: left;
    margin: 50px 0px 10px 0px;
    width: 25%; 
}

/* Row 2 for Women category*/
.box-row-2 {
    float: left;
    width: 25%;
    margin: 50px 0px 0px 0px;
}

.product-img {
    border: solid 2px orange;
    border-radius: 10px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	height: 50%; 
	width: 80%;
    transition: transform 0.2s;
}

.product-img:hover {
    -ms-transform: scale(1.1); /* IE */
    transform: scale(1.1); 
}

.product-label {
	text-align: center;
	font-weight: bold;
}

.cart-icon  {
	text-align: center;
	text-decoration: underline;
}

.price {
	text-align: center;
}

.cart-icon i {
	color: white;
}

.ratings {
	text-align: center;
}

.ratings i {
    color: gold;
}
/* ---------------------------- */
  
/* ----- Footer ----- */
footer {
	background-color: black;
	color: gray;
	padding: 20px;
	text-align: center;
}
/* ------------------ */